*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px;
}
body{
    background-color: rgb(219, 236, 240);
}
body > * {
    margin: 15px;
    /* border: 2px dashed black; */
}
.header{
    height: 20%;
    background-color: rgb(60, 101, 124);
    box-shadow: 10px 10px 20px black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px 3px 3px 3px;
}
#avatar{
    height: 20vh;
    border-radius: 2px;
    order: -1;
}
#avatar-name{
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 600%;
    margin-left: 5vw;
}

.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    background-color: rgb(151, 156, 165);
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}
.footer > *{
    padding: 4px;
    color: black;
    margin: 5px 2px;
}
.api-data, .project-list{
    padding: 2vw;
    padding-left: 5vw;
    background-color: rgb(90, 101, 110);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px black;
}
.api-data > a,
#listed-projects > li{
    width: 100%;
    margin: 5px;
    font-size: 120%;
    color: rgb(5, 63, 117);
}
.api-data > a:hover,
#listed-projects > li{
    color: rgb(121, 145, 158);
}
.project-list{
    padding: 20px;
    background-color: rgb(90, 101, 110);
}
#listed-projects > a{
    margin: 10px;
}