*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px;
}
body{
    /* background-color: rgb(32, 53, 52); */
    background-color: rgb(219, 236, 240);
}
body > * {
    margin: 15px;
    border: 2px dashed black;
}
.header{
    height: 20%;
    background-color: rgb(56, 83, 82);
    box-shadow: 10px 10px 20px black;
    display: flex;
    border-radius: 20px;
}
#avatar{
    height: 20vh;
    border-radius: 20px;
    order: -1;
}
#avatar-name{
    color: rgb(255, 255, 255);
    font-size: 300%;
    margin-left: 5vw;
}

.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(151, 156, 165);
    color: white;
    text-align: center;
}
.footer > *{
    margin: 5px 2px;
}
.api-data{
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
}
.api-data > *{
    width: 100%;
}
.api-data > a:hover{
    background-color: rgb(121, 145, 158);
}